.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    padding: 12px 18px 12px 18px;
    background-color: rgb(55, 22, 78, 0.7);
    color: white;
    min-height: 65vh;
    min-width: 53vh;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 4px 5px black;

}
h1{
    font-size: 20px;
    margin-top: 15px;
}
.inputButton{
    margin-top: 20px;

}
.inputButton input{
    background-color: transparent;
    border: 2px solid #3b99eb;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
    outline: none;
    color: white;
}
.inputButton input::placeholder{
    color: rgb(184, 183, 183);
}
.buttonAdicionar{
    border: none;
    background-color: #3b99eb;
    color: white;
    padding: 12px 15px 12px 15px;
    border-radius: 3px;
    margin-left: 6px;
    cursor: pointer;
}
.buttonAdicionar:hover{
    background-color: #256aa7;
    transition: background-color 0.2s;
    
}