.containerTarefa{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 8px;
    margin-top: 25px;
    min-width: 50vh;
    background: linear-gradient(45deg, #3b99eb, #348cda);
    border-radius: 3px;
    margin-bottom: 50px;
    
    
    
}
.containerTotals{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 4px;
    max-height: 54vh;
}
.buttonsContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    
    
 

   
}
.buttonTarefas{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
}

.buttonTarefas:hover{
    background-color: #256aa7;
}
.itensContainers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b99eb;
    min-width: 50vh;
    border-radius: 3px;
    padding: 8px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}
.itensMarcadoss{

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #11974d;
        min-width: 50vh;
        border-radius: 3px;
        padding: 8px;
        margin-top: 10px;
        
    }


.inputEdicao{
    background-color: #5c2481;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 3px;
}
.inputEdicao::placeholder{
    color: rgb(184, 183, 183);
}
.buttonConcluirs{
    border: none;
    background-color: #12426b;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    margin-left: 6px;
    cursor: pointer;
}
