.containerTarefa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 25px;
    min-width: 50vh;
    background: linear-gradient(45deg, #3b99eb, #348cda);
    border-radius: 3px;
    
}
.buttonsContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
 
   
   
}
.buttonTarefas{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttonTarefas:hover{
    color: rgb(114, 15, 153);
}