.containerTarefa{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 8px;
    margin-top: 25px;
    min-width: 50vh;
    background: linear-gradient(45deg, #3b99eb, #348cda);
    border-radius: 3px;
    margin-bottom: 50px;
    
    
}
.buttonsContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    
    
 

   
}
.buttonTarefas{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
}

.buttonTarefas:hover{
    background-color: #256aa7;
}
.itensContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b99eb;
    min-width: 50vh;
    border-radius: 3px;
    padding: 8px;
    margin-top: 10px;
    
}
